@model MusicList.Models.Song

<h1>Delete Song</h1>

<div class="alert-danger d-flex justify-content-center">
<h2 class="text-danger">Are you sure that you want to delete the song?</h2>
</div>
<form method="post">
<div class="alert-danger d-flex justify-content-center">
<input type="submit" value="Delete" class="btn btn-danger" />
<a class="btn btn-info" asp-action="Index">Back to Home</a>
</div>
</form>